.animation {
  display: none;
}
.content {
  max-width: 900px;
  margin: 0 auto 1rem;
}
.form{
	padding: 0.5rem 3rem 1rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 2rem;
}
.container {
  max-width: 900px;
}

@media screen and (min-width: 757px) {
  .animation {
    position: relative;
    width: 100%;
    display: block;
  }
  .whiteFillHeart {
    position: absolute;
    top: 20px;
    left: 40%;
  }
  .whiteFillHeart2 {
    position: absolute;
    top: 350px;
    right: 10%;
  }
  .greenOutlineHeart {
    position: absolute;
    top: 80px;
    left: 60%;
  }
  .title {
    margin-top: 4rem;
  }
}
.form label {
  display: block;
  margin: 0;
}
.form input,
.form textarea,
.form select {
  border-radius: 10px;
  padding: 10px;
  width: calc(100% - 24px);
  margin-top: 10px;
}
.form input[type="date"] {
  width: calc(100% - 24px);
  padding: 0 10px;
  line-height: 36px;
}
.form div {
    border-bottom: 1px solid #fff;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.form p div {
	border-bottom: 0;
}
.form div h3{
    margin-bottom: 0;
}
.form div p{
	margin-top: 0;
    margin-bottom: 0;
}
.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  padding: 0 10px;
  line-height: 36px;
  color: #000;
  width: 100%;
}

.columns {
	display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    width: 100%;
}

.grow1 {
  flex-grow: 1;
}
.w100 {
  width: 100px;
}
.w50 {
  width: 48%;
}
.w33{
	width: 33.33%
}
.smtxt{
	font-size: 14px;
	line-height: 1.5;
}
.form ol{
	list-style: auto;
	padding-left: 15px;
}
@media screen and (max-width: 1100px) {
.w33{
	width: 31.33%
}	
}
@media screen and (max-width: 992px) {
.w33{
	width: 100%
}	
}
@media screen and (max-width: 768px) {
.form{
	padding: 0.5rem 0.5rem 1rem;
}	
.w50 {
  width: 100%;
}
.w33{
	width: 100%
}
.form canvas {
    width: 100%;
}
}
